# 30906_박기수_0516_7

# 이차원 리스트

In [2]:
abc = [[1,2,3],[4,5,6],[7,8,9]]
print(abc)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
for row in abc:
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [6]:
print(abc[0][0])

1

In [8]:
print(abc[1][2])

6

In [11]:
for row in abc:
    print(row[0])

1
4
7

In [12]:
for row in abc:
    print(row[2])

3
6
9

 #### 이차원 리스트로 간단한 프로그램 만들기

In [14]:
card = [['2020.03.04 18:56','주식회사 카카오페이',10000],
        ['2020.03.03 14:54','네이버페이',51100],
        ['2020.03.02 12:13','스타벅스코리아',10000],
        ['2020.03.01 15:49','11번가',27500],
        ['2020.02.26 11:40','주식회사 카카오페이',32500],
        ['2020.02.26 11:38','주식회사 카카오페이',32500],
        ['2020.02.22 15:00','G마켓',81500],
        ['2020.02.22 15:15','네이버페이',13100]]

In [16]:
print(card[0][2])

10000

In [18]:
olympic = [[1,'미국',46,37,38,121],
           [2,'영국',27,23,17,67],
          [3,'중국',26,18,26,70],
          [4,'러시아',19,18,19,56],
          [5,'독일',17,10,15,42],
          [6,'일본',12,8,21,41],
          [7,'프랑스',10,18,14,42],
          [8,'대한민국',9,3,9,21]]

In [26]:
print(olympic[0][1],'금메달 개수 :',olympic[0][2])
print(olympic[4][1],'금메달 개수 :',olympic[4][2])

미국 금메달 개수 : 46
독일 금메달 개수 : 17

In [28]:
for row in olympic:
    print(row[:2])

[1, '미국']
[2, '영국']
[3, '중국']
[4, '러시아']
[5, '독일']
[6, '일본']
[7, '프랑스']
[8, '대한민국']

In [33]:
print('금메달보다 은메달이 더 많은 나라')
for row in olympic:
    if row[2] < row[3]:
        print(row[1])

금메달보다 은메달이 더 많은 나라
프랑스